




*,
::before,
::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
}
body{
	font-family: Rubik;
	font-size: 12px;
	color: #616161;
}
/* ---------------------------------------- */
.wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
/* ---------------------------------------- */

.main{
	flex: 1 1 auto;
}
[class*="__container"] {
	max-width: 1087px;
	margin: 0px auto;
	padding: 0px 15px;
}
@media (max-width: 1057px) {  /*PC*/
	[class*="__container"] {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {  /*TABLET*/
	.header__container{
		min-height: 80px;
	}
	.header__button{
		flex: 0 0 170px;
	}
	.menu__item{
		margin: 0px 30px 0px 0px;
	}
	[class*="__container"] {
		max-width: 750px;
	}
}
/* -------------------------------------------- */
@media (max-width: 767.98px) {  /*mobile*/
	[class*="__container"] {
		max-width: none;
	}
}
@media (max-width: 767.98px) {	/*mobile*/
	.header__container{
		min-height: 80px;
	}
	.close-icon-menu,
	.icon-menu{
		position: relative;
		flex: 0 0 30px;
		height: 18px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0px 0px 0px 20px;
	}
	.icon-menu::before,
	.icon__menu::after {
		content: "";
		background-color: #000;
		height: 2px;
	}
	.icon-menu span {
		height: 2px;
		background-color: #000;
	}
	
	.close-icon-menu{
		display: none;
	}
	.close-icon-menu::before,
	.close-icon-menu::after {
		content: "";
		background-color: #000;
		height: 2px;
		transform-origin: 0 0;
	}
	.close-icon-menu::before {
		transform: rotate(32deg);
	}
	.close-icon-menu::after {
		transform: rotate(-32deg);
	}
	.header:target .icon-menu {
		display: none;
	}
	.header:target .close-icon-menu {
		display: flex;
	}
	/* ---------------------------- */
	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #fff;
		padding: 80px 15px 30px 15px;
		transition: left 0.3s ease 0s;
	}
	.header:target .menu__body {
		left: 0;
	}
	.header:target .menu__body:before {
		content: "";
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
	}
	.menu__list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.menu__link {
		color: #000;
		font-size: 20px;
		margin: 0px 0px 25px 0px;
	}
	.menu__link:last-child{
		margin-bottom: 0;
	}
	/* --------------------------- */
	.header__button .button {
		padding: 14px 24px;
	}
	.header__logo {  
	}
}
@media (max-width: 479.98px) {  /*mobile small*/
	.header__logo {  /*  Скрыл надпись в логотипе   */
		flex: 0 0 40px;
		overflow: hidden;
	}
}
/* ---------------------------------------------------- */


.header {
	position: absolute;    /*делаю шапку которая надвисает над первым блоком*/
	left: 0;
	top: 0;
	z-index: 50;
	width: 100%;
}
.header__container {
	display: flex;
	height: 114px;
	align-items: center;
}
.header__logo {
	position: relative;
	z-index: 5;
}
.header__menu {
	flex: 1 1 auto;
}
.header__button {
	flex: 0 0 252px;
	display: flex;
	justify-content: flex-end;
	z-index: 5;
}
/* ------------------------------ */
.menu {
	display: flex;
	justify-content: flex-end;
	color: #000;
}
.menu__list {
	display: flex;
	/*gap: 40px;   ( это если не делать мэрджин райт)     gap нет в старых сафари*/
}
.menu__item {
	margin: 0px 40px 0px 0px;
}
.menu__link {
	font-family: Relaway;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10px;
	line-height: 1.2px;
	letter-spacing: 1px;
}
.menu__link:hover{
	text-decoration: underline;
}
/* ------------------------------ */
.button {
	display: inline-block;
	font-family: Relaway;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 10px;
	line-height: 1.2px;
	letter-spacing: 1px;
	color: #FCFDFE;
	padding: 14px 30px;
	background-color: #EC5863;
	border-radius: 5px;
	transition: background-color 0.4s ease 0s;
}
.button:hover {
	background-color: #9b3339;
}
.button__blue {
	background-color: #4285F4;
}
.button__blue:hover {
	background-color: #3775d8;
}
/* ---------GER STARTED---------------------------------------------------------------------- */
.block-text {

}
.block-text__title {
	font-weight: 700;
	font-size: 44px;
	line-height: 126%;
	color: #000
}
.block-text__title:not(:last-child) {
	margin: 0px 0px 12px 0px;
}
.block-text__title span {
	color: #EC5863;
}
.block-text__title_blue span{
	color: #4285F4;
}
.block-text__text {
	font-weight: 400;
	font-size: 12px;
	line-height: 138.5%;
}
.block-text__text:not(:last-child) {
	margin: 0px 0px 24px 0px;
}
.block-text__button {
}

@media(max-width:767.98px) {
	.block-text__title {
		font-size: 34px;
	}
}
/* =========top bam block===================================== */

.get-started {
	background-color: #FAFBFD;
}
.get-started__container {
	padding: 150px 15px 50px 15px;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	
}

.get-started__content {
	flex: 0 1 48%;
	width: 490px;
	padding: 0px 20px;
}
.get-started__block-text {
	max-width: 410px;
}

.get-started__video {
	flex: 1 1 100%;
	margin: 60px 0px 0px 20px;
}
.get-started__image {
	flex: 0 1 52%;
}
.get-started__image img {
	max-width: 100%;
}

.video-get-started {
	display: inline-flex;
	align-items: center;
}
.video-get-started__icon {
	flex: 0 1 44px;
}
.video-get-started__body {
	padding: 0px 0px 0px 12px;
}

.video-get-started__title {
	color: #B0B0B0;
	font-weight: 400;
	font-size: 13px;
	line-height: 126%;
	letter-spacing: 1.5px;
}
.video-get-started__title:not(:last-child) {
	margin: 0px 0px 5px 0px;
}
.video-get-started__text {
	text-transform: uppercase;
	font-size: 9px;
	line-height: 126%;
	letter-spacing: 2px;
	color: #000000;
}
@media(max-width:767.98px) {
	.get-started__container {
		padding: 100px 15px 30px 15px;
	}
	.get-started__block-text {
		max-width: none;
		
	}
	.get-started__content {
		flex: 1 1 auto;
		padding: 0;
	}
	.get-started__image{
		flex: 1 1 auto;
		text-align: center;
		padding: 30px 0;
	}
	.get-started__video{
		padding: 0;
	}
}

/* ======STAY SAFE================================== */

.stay-safe {
	padding: 80px 0;
}
.stay-safe__container {
	display: flex;
	align-items: center;
}
.stay-safe__media {
	flex: 0 1 50%;
	padding: 0px 0px 0px 47px;
}
.stay-safe__content {
	flex: 0 1 50%;
}
.stay-safe__block-text {
}

.media-stay-safe {
	width: 378px;
	display: inline-block;
	position: relative;
}
.media-stay-safe__image {
	text-align: center;
	width: 373px;
	height: 469px;
}

/* https://www.youtube.com/watch?v=sohdv21BVNI ============================ */